name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write # needed to write releases
  id-token: write # needed for keyless signing
  packages: write # needed for ghcr access
  attestations: write # needed for provenance

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Run tests
        run: go test -v ./...

      - name: Get Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Bazel Build
        run: bazelisk build app:server

      - name: Bazel Test
        run: bazelisk test app:go_default_test


  release:
    runs-on: ubuntu-latest
    needs: test
    env:
      GIT_HASH: ${{ github.sha }}
      GITHUB_RUN_ID: ${{ github.run_id }}
      GITHUB_RUN_ATTEMPT: ${{ github.run_attempt }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Versions
        uses: actions/github-script@v4
        id: set_version
        with:
          script: |
            const tag = context.ref.substring(10)
            const no_v = tag.replace('v', '')
            const dash_index = no_v.lastIndexOf('-')
            const no_dash = (dash_index > -1) ?  no_v.substring(0, dash_index) : no_v
            core.setOutput('tag', tag)
            core.setOutput('no-v', no_v)
            core.setOutput('no-dash', no_dash)
      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - uses: sigstore/cosign-installer@v3.8.0 # installs cosign
      - uses: anchore/sbom-action/download-syft@v0.18.0 # installs syft
      # - name: Run GoReleaser
      #   uses: goreleaser/goreleaser-action@v6
      #   with:
      #     version: '~> v2'
      #     args: release --clean
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GPG_FINGERPRINT: ${{ secrets.GPG_FINGERPRINT }}

      - name: Get Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: build binary artifacts
        run: bazelisk build  app:build_binary
        
      - name: create binary checksum
        run: bazelisk build  app:create_checksum

      - name: sign binary artifacts    
        run: bazelisk build  app:sign_binary

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            bazel-bin/app/server_linux_amd64_bin
            bazel-bin/app/server_linux_arm64_bin
            bazel-bin/app/server_linux_amd64.sig
            bazel-bin/app/server_linux_arm64.sig
            bazel-bin/app/server_checksums.txt
            bazel-bin/app/server_checksums.txt.sig                       
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Bazel Push
        run: bazelisk run app:push-image

      - name: Cosign Sign
        run: bazelisk run app:sign_all_images --define container_registry=docker.io --define image_repo_prefix=salrashid123 --define image_tag=server  -- -y

      - uses: actions/attest-build-provenance@v2
        with:
          subject-checksums: "bazel-bin/app/server_checksums.txt"
